.liWan {
	position: relative;
	top: 1718px;
	left: 84px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.liWan+span {
	position: relative;
	top: 1698px;
	left: 110px;
}

.tieLuGongYuan {
	position: relative;
	top: 1611px;
	left: 84px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.tieLuGongYuan+span {
	position: relative;
	top: 1591px;
	left: 110px;
}

.maWan {
	position: relative;
	top: 1508px;
	left: 84px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.maWan+span {
	position: relative;
	top: 1488px;
	left: 110px;
}

.qianHaiGongYuan {
	position: relative;
	top: 1408px;
	left: 84px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.qianHaiGongYuan+span {
	position: relative;
	top: 1388px;
	left: 110px;
}

.qianWan {
	position: relative;
	top: 1299px;
	left: 88px;
	width: 12px;
	height: 36px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}

.qianWan+span {
	position: relative;
	top: 1272px;
	left: 50px;
}

.guiWan {
	position: relative;
	top: 1162px;
	left: 132px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.guiWan+span {
	position: relative;
	top: 1143px;
	left: 156px;
}

.linHai {
	position: relative;
	top: 926px;
	left: 162px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.linHai+span {
	position: relative;
	top: 886px;
	left: 170px;
}

.baoHua {
	position: relative;
	top: 828px;
	left: 110px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.baoHua+span {
	position: relative;
	top: 806px;
	left: 135px;
}

.fanShen {
	position: relative;
	top: 678px;
	left: 335px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.fanShen+span {
	position: relative;
	top: 658px;
	left: 360px;
}

.lingZhi {
	position: relative;
	top: 566px;
	left: 398px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.lingZhi+span {
	position: relative;
	top: 547px;
	left: 425px;
}

.hongLangNorth {
	position: relative;
	top: 460px;
	left: 462px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.hongLangNorth +span {
	position: relative;
	top: 441px;
	left: 485px;
}
.xingDong {
	position: relative;
	top: 338px;
	left: 600px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.xingDong +span {
	position: relative;
	top: 345px;
	left: 593px;
}
.liuXianDong {
	position: relative;
	top: 294px;
	left: 710px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}

.liuXianDong +span {
	position: relative;
	top: 302px;
	left: 675px;
}
.xiLi{
	position: relative;
	top:253px;
	left:800px;
	width: 48px;
	height: 12px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.xiLi +span{
	position: relative;
	top:220px;
	left:834px;
}
.daXueCheng{
	position: relative;
	top: 160px;
	left: 906px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.daXueCheng +span {
	position: relative;
	top: 140px;
	left: 930px;
}
.tangLang{
	position: relative;
	top: 22px;
	left: 1022px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.tangLang +span {
	position: relative;
	top: -20px;
	left: 1016px;
}
.changLingPi{
	position: relative;
	top: -22px;
	left: 1142px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.changLingPi +span {
	position: relative;
	top: -64px;
	left: 1126px;
}
.minZhi{
	position: relative;
	top: -72px;
	left: 1358px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.minZhi +span {
	position: relative;
	top: -115px;
	left: 1352px;
}
.wuHe{
	position: relative;
	top:-124px;
	left:1412px;
	width: 12px;
	height: 36px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.wuHe +span{
	position: relative;
	top:-175px;
	left:1424px;
}
.banTian{
	position: relative;
	top: -176px;
	left: 1484px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.banTian +span {
	position: relative;
	top: -218px;
	left: 1478px;
}
.yangMei{
	position: relative;
	top: -220px;
	left: 1564px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.yangMei +span {
	position: relative;
	top: -262px;
	left: 1558px;
}
.shangShuiJing{
	position: relative;
	top: -264px;
	left: 1644px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.shangShuiJing +span {
	position: relative;
	top: -306px;
	left: 1628px;
}
.xiaShuiJing{
	position: relative;
	top: -308px;
	left: 1724px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.xiaShuiJing +span {
	position: relative;
	top: -350px;
	left: 1708px;
}
.changLong{
	position: relative;
	top: -352px;
	left: 1804px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.changLong +span {
	position: relative;
	top: -395px;
	left: 1796px;
}
.baiGeLong{
	position: relative;
	top: -298px;
	left: 2022px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.baiGeLong +span {
	position: relative;
	top: -318px;
	left: 2046px;
}
.buXin{
	position: relative;
	top: -254px;
	left: 2022px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.buXin +span {
	position: relative;
	top: -274px;
	left: 2046px;
}
.taiAn{
	position: relative;
	top: -220px;
	left: 2026px;
	width: 12px;
	height: 36px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.taiAn +span {
	position: relative;
	top: -248px;
	left: 2046px;
}
.yiJing{
	position: relative;
	top: -206px;
	left: 2022px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #cc33ff;
	cursor: pointer;
}
.yiJing +span {
	position: relative;
	top: -226px;
	left: 2046px;
}
.line5_0 {
	position: relative;
	top: 1732px;
	left: 94px;
	width: 50px;
	height: 5px;
	background-color: #cc33ff;
}

.line5_0_0 {
	position: relative;
	top: 1709px;
	left: 74px;
	width: 40px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}

.line5_1 {
	position: relative;
	top: 1609px;
	left: 74px;
	width: 40px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}

.line5_2 {
	position: relative;
	top: 1506px;
	left: 74px;
	width: 40px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}

.line5_3 {
	position: relative;
	top: 1404px;
	left: 74px;
	width: 40px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}

.line5_4 {
	position: relative;
	top: 1292px;
	left: 79px;
	width: 30px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}

.line5_5 {
	position: relative;
	top: 1188px;
	left: 84px;
	width: 20px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}

.line5_5_0 {
	position: relative;
	top: 1152px;
	left: 84px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}

.line5_5_1 {
	position: relative;
	top: 1068px;
	left: 128px;
	width: 136px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}

.line5_5_2 {
	position: relative;
	top: 1005px;
	left: 223px;
	width: 28px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(45deg);
}

.line5_6 {
	position: relative;
	top: 922px;
	left: 170px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(45deg);
}

.line5_7 {
	position: relative;
	top: 824px;
	left: 116px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(45deg);
}

.line5_7_0 {
	position: relative;
	top: 748px;
	left: 85px;
	width: 70px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}

.line5_7_1 {
	position: relative;
	top: 710px;
	left: 118px;
	width: 86px;
	height: 5px;
	background-color: #cc33ff;
}

.line5_8 {
	position: relative;
	top: 666px;
	left: 216px;
	width: 110px;
	height: 5px;
	background-color: #cc33ff;
}

.line5_8_1 {
	position: relative;
	top: 654px;
	left: 322px;
	width: 20px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}

.line5_9 {
	position: relative;
	top: 566px;
	left: 342px;
	width: 70px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}

.line5_10 {
	position: relative;
	top: 460px;
	left: 406px;
	width: 70px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}

.line5_10_0 {
	position: relative;
	top: 386px;
	left: 466px;
	width: 90px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}
.line5_10_1 {
	position: relative;
	top: 350px;
	left: 540px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_11 {
	position: relative;
	top: 306px;
	left: 620px;
	width: 90px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_12 {
	position: relative;
	top: 262px;
	left: 730px;
	width: 70px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_13 {
	position: relative;
	top: 226px;
	left: 848px;
	width: 20px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_13_0 {
	position: relative;
	top: 200px;
	left: 858px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}
.line5_14 {
	position: relative;
	top: 80px;
	left: 905px;
	width: 120px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(135deg);
}
.line5_14_0 {
	position: relative;
	top: 34px;
	left: 1004px;
	width: 20px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_15 {
	position: relative;
	top: -10px;
	left: 1042px;
	width: 100px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_16 {
	position: relative;
	top: -54px;
	left: 1162px;
	width: 118px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_16_0 {
	position: relative;
	top: -59px;
	left: 1328px;
	width: 30px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_17 {
	position: relative;
	top: -103px;
	left: 1378px;
	width: 34px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_18 {
	position: relative;
	top: -163px;
	left: 1424px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_19 {
	position: relative;
	top: -207px;
	left: 1504px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_20 {
	position: relative;
	top: -251px;
	left: 1584px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_21 {
	position: relative;
	top: -296px;
	left: 1664px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_22 {
	position: relative;
	top: -340px;
	left: 1744px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_23 {
	position: relative;
	top: -384px;
	left: 1824px;
	width: 51px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_23_0 {
	position: relative;
	top: -390px;
	left: 1910px;
	width: 125px;
	height: 5px;
	background-color: #cc33ff;
}
.line5_23_1 {
	position: relative;
	top: -345px;
	left: 1982px;
	width: 100px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}
.line5_24 {
	position: relative;
	top: -286px;
	left: 1997px;
	width: 70px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}
.line5_25 {
	position: relative;
	top: -246px;
	left: 2002px;
	width: 60px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}
.line5_26 {
	position: relative;
	top: -222px;
	left: 2012px;
	width: 40px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}
.line5_27 {
	position: relative;
	top: -203px;
	left: 2006px;
	width: 53px;
	height: 5px;
	background-color: #cc33ff;
	transform: rotate(90deg);
}