.airportEast{
	position: relative;
	top:680px;
	left:200px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.airportEast +span{
	position: relative;
	top:660px;
	left:230px;
}
.houRou{
	position: relative;
	top:705px;
	left:200px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.houRou +span{
	position: relative;
	top:685px;
	left:230px;
}
.guShu{
	position: relative;
	top:728px;
	left:200px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.guShu +span{
	position: relative;
	top:708px;
	left:230px;
}
.xiXiang{
	position: relative;
	top:752px;
	left:200px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.xiXiang +span{
	position: relative;
	top:732px;
	left:230px;
}
.pingZhou{
	position: relative;
	top:776px;
	left:200px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.pingZhou +span{
	position: relative;
	top:756px;
	left:230px;
}
.baoTi{
	position: relative;
	top:800px;
	left:200px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.baoTi +span{
	position: relative;
	top:780px;
	left:230px;
}
.baoAnCenter{
	position: relative;
	top:824px;
	left:204px;
	width: 12px;
	height: 36px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.baoAnCenter +span{
	position: relative;
	top:776px;
	left:228px;
}
.xinAn{
	position: relative;
	top:848px;
	left:200px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.xinAn +span{
	position: relative;
	top:828px;
	left:230px;
}
.qianHaiWan{
	position: relative;
	top:875px;
	left:221px;
	width: 12px;
	height: 78px;
	border-radius: 10px;
	border: 2px solid #000;
	transform: rotate(45deg);
	cursor: pointer;
}
.qianHaiWan +span{
	position: relative;
	top:875px;
	left:155px;
}
.liYuMen{
	position: relative;
	top:815px;
	left:311px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.liYuMen +span{
	position: relative;
	top:770px;
	left:295px;
}
.daXin{
	position: relative;
	top:771px;
	left:378px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.daXin +span{
	position: relative;
	top:780px;
	left:372px;
}
.taoYuan{
	position: relative;
	top:727px;
	left:446px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.taoYuan +span{
	position: relative;
	top:682px;
	left:439px;
}
.shenDa{
	position: relative;
	top:683px;
	left:514px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.shenDa +span{
	position: relative;
	top:690px;
	left:506px;
}
.gaoXinYuan{
	position: relative;
	top:639px;
	left:582px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.gaoXinYuan +span{
	position: relative;
	top:594px;
	left:567px;
}
.baiShiZhou{
	position: relative;
	top:595px;
	left:652px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.baiShiZhou +span{
	position: relative;
	top:600px;
	left:637px;
}
.windowOfTheWorld{
	position: relative;
	top:543px;
	left:720px;
	width: 12px;
	height: 36px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.windowOfTheWorld +span{
	position: relative;
	top:490px;
	left:735px;
}
.OCT{
	position: relative;
	top:491px;
	left:782px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.OCT +span{
	position: relative;
	top:494px;
	left:767px;
}
.qiaoChengEast{
	position: relative;
	top:447px;
	left:850px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.qiaoChengEast +span{
	position: relative;
	top:449px;
	left:835px;
}
.zhuZiLin{
	position: relative;
	top:403px;
	left:916px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.zhuZiLin +span{
	position: relative;
	top:405px;
	left:902px;
}
.cheGongMiao{
	position: relative;
	top:363px;
	left:982px;
	width: 72px;
	height: 12px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.cheGongMiao +span{
	position: relative;
	top:364px;
	left:1048px;
}
.xiangMiHu{
	position: relative;
	top:323px;
	left:1113px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.xiangMiHu +span{
	position: relative;
	top:280px;
	left:1097px;
}
.gouWuGongYuan{
	position: relative;
	top:283px;
	left:1223px;
	width: 36px;
	height: 12px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.gouWuGongYuan +span{
	position: relative;
	top:284px;
	left:1155px;
}
.huiZhanCenter{
	position: relative;
	top:235px;
	left:1309px;
	width: 12px;
	height: 36px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.huiZhanCenter +span{
	position: relative;
	top:180px;
	left:1319px;
}
.gangXia{
	position: relative;
	top:187px;
	left:1400px;
	width: 36px;
	height: 12px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.gangXia +span{
	position: relative;
	top:190px;
	left:1435px;
}
.huaQiangLu{
	position: relative;
	top:147px;
	left:1553px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.huaQiangLu +span{
	position: relative;
	top:150px;
	left:1538px;
}
.keXueGuan{
	position: relative;
	top:108px;
	left:1650px;
	width: 36px;
	height: 12px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.keXueGuan +span{
	position: relative;
	top:114px;
	left:1645px;
}
.daJuYuan{
	position: relative;
	top:-64px;
	left:1768px;
	width: 36px;
	height: 12px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.daJuYuan +span{
	position: relative;
	top:-60px;
	left:1795px;
}
.laoJie{
	position: relative;
	top:-186px;
	left:1842px;
	width: 12px;
	height: 36px;
	border-radius: 10px;
	border: 2px solid #000;
	cursor: pointer;
}
.laoJie +span{
	position: relative;
	top:-176px;
	left:1834px;
}
.guoMao{
	position: relative;
	top:-54px;
	left:1883px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.guoMao +span{
	position: relative;
	top:-74px;
	left:1908px;
}
.luoHu{
	position: relative;
	top:50px;
	left:1883px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #0da23e;
	cursor: pointer;
}
.luoHu +span{
	position: relative;
	top:55px;
	left:1878px;
}
.line1_0{
	position: relative;
	top:683px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_1{
	position: relative;
	top:707px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_2{
	position: relative;
	top:730px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_3{
	position: relative;
	top:755px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_4{
	position: relative;
	top:778px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_5{
	position: relative;
	top:803px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_6{
	position: relative;
	top:827px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_7{
	position: relative;
	top:850px;
	left:185px;
	width:50px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_7_0{
	position: relative;
	top:883px;
	left:204px;
	width:40px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(45deg);
}
.line1_8{
	position: relative;
	top:818px;
	left:240px;
	width:40px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(45deg);
}
.line1_8_0{
	position: relative;
	top:827px;
	left:272px;
	width:40px;
	height:5px;
	background-color: #0DA23E;
}
.line1_9{
	position: relative;
	top:783px;
	left:330px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_10{
	position: relative;
	top:739px;
	left:397px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_11{
	position: relative;
	top:695px;
	left:465px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_12{
	position: relative;
	top:651px;
	left:532px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
} 
.line1_13{
	position: relative;
	top:607px;
	left:602px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_14{
	position: relative;
	top:563px;
	left:671px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_15{
	position: relative;
	top:503px;
	left:732px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_16{
	position: relative;
	top:459px;
	left:801px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_17{
	position: relative;
	top:415px;
	left:868px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_18{
	position: relative;
	top:371px;
	left:934px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_19{
	position: relative;
	top:335px;
	left:1054px;
	width:60px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_20{
	position: relative;
	top:291px;
	left:1133px;
	width:90px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_21{
	position: relative;
	top:255px;
	left:1259px;
	width:50px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_22{
	position: relative;
	top:195px;
	left:1321px;
	width:80px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_23{
	position: relative;
	top:160px;
	left:1435px;
	width:120px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_24{
	position: relative;
	top:116px;
	left:1572px;
	width:80px;
	height:5px;
	background-color: #0DA23E;	
}
.line1_25{
	position: relative;
	top:13px;
	left:1653px;
	width:165px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(130deg);
}
.line1_26{
	position: relative;
	top:-123px;
	left:1786px;
	width:70px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(130deg);
}
.line1_27{
	position: relative;
	top:-213px;
	left:1853px;
	width:40px;
	height:5px;
	background-color: #0DA23E;
}
.line1_27_0{
	position: relative;
	top:-135px;
	left:1808px;
	width:170px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}
.line1_28{
	position: relative;
	top:-12px;
	left:1828px;
	width:130px;
	height:5px;
	background-color: #0DA23E;
	transform: rotate(90deg);
}	